body {
   /* background-image: linear-gradient(rgba(207, 236, 219, 0.4), rgba(243, 227, 227, 0.4)), url("back.jpg");*/
    background-image: url('back.jpg');
   background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(44, 43, 43);
}
h2{
    color: rgb(17, 1, 8);
}

.whole-box{
    color: aliceblue;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    width: 1000px;
    background-color: rgb(10, 32, 54);
    margin: auto;
    overflow: hidden;
   
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.player-0-panel,.player-1-panel{
    height: 400px;
    padding: 30px;
}
.player-name{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: rgb(241, 219, 219);
    margin-bottom: 130px;
}
.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    
}
.dice{
    height:100px;
    left:50%;
    top:198px;
    position:absolute;
    transform: translateX(-50%);
}
.move,.final-score-label,.move-box,.final-score{
    text-align: center;
    font-size: 20px;
}
ion-icon {
    color: rgb(7, 1, 17);
    display: inline-block;
    font-size: 25px;
    
    
}
.btn-new { 
    top: 55px;
    position: absolute;
    left: 45%;
    font-size: 25px;
   
}
.btn-roll{
    position: absolute;
    left: 45%;
     top: 440px;
     font-size: 25px;
}
.update{
    text-align: center;
    font-size: 20px;
}

.updateScore{
    font-size: 25px;
    color: red;
}

#winner{
    padding: 22px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}
